<input type="text" class="form-control" [(ngModel)]="carName">
<p *ngIf="!addCarStatus; else successStatus">Машина не добавлена!</p>
<ng-template #successStatus>
    <p>Машина добавлена!</p>
</ng-template>

<button class="btn btn-primary" (click) = "addCar()">Добавить машину</button>
<!-- <p>{{ addCarStatus }}</p> -->
<hr>
<app-car></app-car>
<app-car></app-car>

<hr>



<!-- <input type="text" class="form-control" (input)="onKeyUp($event)"> --> 
<!-- <input type="text" class="form-control" #myInp (input)="onKeyUp(myInp.value)"> -->
<!-- <input type="text" class="form-control" (keyup.enter)="onKeyUp($event)"> -->

<!-- <input type="text" class="form-control" [(ngModel)]="inputText"> 
<p>{{ inputText }}</p> -->